%h1 Список ролей

%table
  %thead
    %tr
      %th Роль
      %th Фильм
      %th Атер
      %th
      %th
      %th

  %tbody
    - @parts.each do |part|
      %tr
        %td= part.role_a
        %td= part.film
        %td= part.actor
        %td= link_to 'Просмотреть', part
        %td= link_to 'Редактировать', edit_part_path(part)
        %td= link_to 'Удалить', part, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Новая роль', new_part_path
