.col-md-6
  %div{class: 'panel panel-'+ (i.kind_of?(Integer) ? 'success' : 'info')}
    .panel-heading
      Роль
      = i
      %span.toright
        = link_to_remove_part(fr)

      .clearfix
    .panel-body
      .row
        .col-md-12
          .form-group
            = fr.label :role_a
            = fr.text_field :role_a, class: 'form-control'
            = fr.error_messages_for(:role_a)

      .row
        %fieldset.center
          %legend Поля для человека
          %button.btn.btn-info.actor-change Cоздать/редактировать
          %div.left{"data-content": "#{new_actor_form(fr)}"}
            = fr.fields_for(:actor) do |ar|
              = render 'films/one_actor_form', ar: ar
