=breadcrumb_tag do
  %li.active
    = @cinema.name_c
  %li
    = link_to 'Кинотеатры', cinemas_path
  %li
    Кинотеатры/Фильмы

%h1= @cinema.name_c

%dl
  %dt= Cinema.human_attribute_name(:name_c)
  %dd= @cinema.name_c

  %dt= Cinema.human_attribute_name(:address_c)
  %dd= @cinema.address_c
